
body {
    font-family: "Roboto", sans-serif;
    background-color: bisque;
    color: black;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: black;
    color: white;
    padding: 1rem;
}


main {
    flex-grow: 1;
    max-width: 960px; 
    margin: 0 auto;
    padding: 1rem;
}


.title-menu nav {
    margin: 0;
    padding: 2px;
    display: flex;
  
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
}

.title-menu nav h1.text { 
    margin: 0;
    padding: 0;
    color: white; 
    font-size: 1.5rem; 
}


.hamburger-menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
    color: white; 
    font-size: 1.8rem; 
    line-height: 1; 
    transition: transform 0.4s ease; 
}


.navigation-links { 
    display: none; 
    flex-direction: column; 
    width: 100%; 
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 999;
}

.navigation-links.active {
    display: flex; 
}

.navigation-links li {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #555;
}

.navigation-links li:last-child {
    border-bottom: none;
}
h2{
    text-align: center;
}

.navigation-links li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.navigation-links li a:hover {
    background-color: #555;
}


.temples { 
    display: grid;
    gap: 1.5rem;
    padding: 1rem 0;
    
}


.temples figure {
    margin: 0;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.temples figure img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 4px;
}

.temples figcaption {
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
    margin: 10px;
}
   
.temples p{
    font-size: 0.9em;
    color: #8a2be2;
    margin: 0;
}


footer p {
    text-align: center;
    margin: 0;
}


@media (min-width: 768px) { 
    
    .title-menu nav {
        flex-wrap: nowrap; 
        justify-content: space-between; 
    }

    .hamburger-menu {
        display: none;
    }

    
    .navigation-links { 
        display: flex;
        position: static; 
        flex-direction: row; 
        background-color: transparent; 
        box-shadow: none; 
        width: auto; 
    }

    .navigation-links li {
        border-bottom: none; 
        padding: 0;
    }

    .navigation-links li a {
        padding: 10px 15px; 
    }

   
    .temples {
        grid-template-columns: repeat(3, 1fr); 
    }
}
