

@media (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }

    .title-menu nav {
        justify-content: space-between;
    }

    .navigation-links {
        position: static;
        display: flex !important;
        flex-direction: row;
        width: auto;
        background-color: transparent;
        box-shadow: none;
        border-bottom: none;
        opacity: 1;
        visibility: visible;
    }

    .navigation-links li {
        border-bottom: none;
    }

    .navigation-links li a {
        padding: 0.5rem 2rem;
        border-radius: 5px;
    }

    .temples {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}